* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: poppins;
}

html,
body {
    width: 100%;
    height: 100%;
}


.main {
    width: 100%;
    overflow: hidden;

}




.page1 {
    width: 100vw;
    height: 100vh;
    background-color: #171717;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 5%;
    font-family: 'Poppins', sans-serif;
    flex-wrap: nowrap;

}



.page1 > img {
    left: 25%;
    top: 0;
    position: absolute;
}

.page1 .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 35%;
    justify-content: center;
    font-size: 1.5vmax;
    color: #787474;
    z-index: 2;
    align-items: center;
    padding-top: 15%;
}

.page1 .frame {
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: row;
}

.page1 span {
    font-size: 12vw;
    height: auto;
    color: #f1f1f1;
    opacity: .4;
    cursor: pointer;
    position: relative;
    text-align: center;
    font-weight: 900;
    position: relative;
}

.page1 .bottom {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.page1 #first img {
    rotate: 90deg;
    width: 30px;
}

.page1 #first {
    
    width: 290px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    background-color: #a9f868;
    border: none;
    height: 60px;
	overflow: hidden;
	position: relative;
    padding: 0  20px;

}

.page1 .dikho {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5vmax;
    position: relative;
    z-index: 99;
}

.page1 #second {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    background-color: #a9f868;
	overflow: hidden;
	position: relative;

}

.page1 #second  img{
   z-index: 9;
    position: relative;
}


.page1 .bottom #first::before {
	content: "";
	position: absolute;
	background-color: rgba(247, 247, 247, 0.934);
	width: 10%;
	height: 25%;
	border-radius: 50%;
	z-index: 1;
	top: 35%;
	left: 45%;
	-webkit-transform: scale(0);
	transform: scale(0);
}

/*.page1 .bottom #first:hover {
	background: #74b126;
	color: #fff;
}*/

.page1 .bottom #first:hover::before {
	-webkit-transform: scale(12);
	transform: scale(12);
	-webkit-transition: border-radius .5s .5s,-webkit-transform .5s;
	transition: border-radius .5s .5s,-webkit-transform .5s;
	transition: transform .5s,border-radius .5s .5s;
	transition: transform .5s,border-radius .5s .5s,-webkit-transform .5s;
}

.page1 .bottom #first:hover::after {
	content: "";
	position: absolute;
	z-index: 2;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}




.page1 .bottom #second::before {
	content: "";
	position: absolute;
	background-color: rgba(247, 247, 247, 0.934);
	width: 10%;
	height: 10%;
	border-radius: 50%;
	z-index: 1;
	top: 45%;
	left: 45%;
	-webkit-transform: scale(0);
	transform: scale(0);
}

/*.page1 .bottom #first:hover {
	background: #74b126;
	color: #fff;
}*/

.page1 .bottom #second:hover::before {
	-webkit-transform: scale(12);
	transform: scale(12);
	-webkit-transition: border-radius .5s .5s,-webkit-transform .5s;
	transition: border-radius .5s .5s,-webkit-transform .5s;
	transition: transform .5s,border-radius .5s .5s;
	transition: transform .5s,border-radius .5s .5s,-webkit-transform .5s;
}

.page1 .bottom #second:hover::after {
	content: "";
	position: absolute;
	z-index: 2;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}


#page2{
    width: 100vw;
    height: 100vh;
}

#page2-center{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: poppins;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#h3-wrapper{
    height: 3vh;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

#h3-wrapper>h3{
    color: #7B7B7B;
    font-family: poppins;
    font-size: 1.3vw;
    white-space: nowrap;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: 6px;
}

#page2-center h1{
    font-size: 3.5vw;
    /* white-space: nowrap; */
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 70px;
    width: 80%;
}

#page2-center h1 span .green{
    color: #2BFD86;
}

#page2-center #circle-svg{
    position: absolute;
    width: 13vw;
    left: 69%;
    top: 18%;
    z-index: -1;
}

#page2-center #underline-svg{
    position: absolute;
    width: 20vw;
    left: 11%;
    top: 45.5%;
    z-index: -1;

}

.info-item{
    display: flex;
}

.info-item>i{
    color: #2BFD86;
    padding: 1px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: black;
    margin-right: 15px;
}

#info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;      
}

.info-item h3{
    font-size: 1.5vw;
    font-weight: 500;
}

.info-item h3 span{
    font-weight: 800;  
    margin-right: 5px;
}


#gallery{
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5%;
}


#gallery  h1{
    -webkit-text-fill-color: rgb(48, 48, 48);
    -webkit-text-stroke-color: rgb(27, 27, 27);
    -webkit-text-stroke: 0.3px;
	position: relative;
	margin: 2% auto 0;
	text-transform: uppercase;
    left: -30%;
    top: 50%,;
	font-family: 'poppins', sans-serif;
	font-size: 4.5em;
	font-weight: 900;
    width: 200px;
    color: rgb(48, 48, 48);
}

#gallery  h1:hover{
    -webkit-text-fill-color: transparent;
   cursor: pointer;
    
}


#gallery  .container{

    left: -20%;
    top: -50%;
	width: 210px;
	height: 140px;
	position: relative;
	perspective: 1000px;

}
#carousel{
	width: 100%;
	height: 100%;
    top: 100px;
    padding: 20px 10px;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 30s infinite linear;
}
#carousel:hover{
	animation-play-state: paused;
}
#carousel figure{
	display: block;
    border-radius: 10px;
	position: absolute;
	width: 206px;
	height: 156px;
	left: 10px;
	top: 10px;
	background: rgb(43, 43, 43);
	overflow: hidden;
	border: solid 2px rgb(31, 31, 31);
}
#carousel figure:nth-child(1) { transform: rotateY(0deg)   translateZ(288px);background-image: url('https://images.unsplash.com/photo-1544225917-1bf66feace19?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80'); background-size: cover;}
#carousel figure:nth-child(2) { transform: rotateY(40deg)  translateZ(288px);background-image: url('https://images.unsplash.com/photo-1595017745386-e9eaf88f2b35?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');background-size: cover;}
#carousel figure:nth-child(3) { transform: rotateY(80deg)  translateZ(288px);background-image: url('https://images.unsplash.com/photo-1557862921-37829c790f19?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80'); background-size: cover;}
#carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);background-image: url('https://images.unsplash.com/photo-1544168190-79c17527004f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=388&q=80'); background-size: cover;}
#carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);background-image: url('https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80'); background-size: cover;}
#carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);background-image: url('https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80'); background-size: cover;}
#carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);background-image: url('https://images.unsplash.com/photo-1545696968-1a5245650b36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2032&q=80'); background-size: cover;}
#carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);background-image: url('https://images.unsplash.com/photo-1564564321837-a57b7070ac4f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2076&q=80'); background-size: cover;}
#carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);background-image: url('https://images.unsplash.com/photo-1573165301123-3241ba3816b7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80'); background-size: cover;}

#gallery  img{
	-webkit-filter: grayscale(1);
	cursor: pointer;
	transition: all .5s ease;
}

#gallery  img:hover{
	-webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
}

@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}

#gallery  figure{
text-transform: uppercase;
font-family: poppins;
padding: 5px 5px;
color: rgb(0, 0, 0);

}

#page3{
    position: relative;
    height: 160vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, white, #1EEB8F);  color: #171717;
}

#page3 #heading {
    position: absolute;
    top: 11%;
    left: 10%;
    
}

#page3 #heading h1{
    font-size: 6vw;
}

#page3 #container{
    height: 110vh;
    width: 100vw;
    position: absolute;
    top: 21%;
}

#page3 #container .cont1{
    height: 30vh;
    width: 80vw;
   margin-left: 11%;
   display: flex;
   overflow: visible;
   justify-content: space-around;
   gap: 20px;
    border-bottom: 1px solid #202020;
}

#container .cont1:nth-child(1){
    border-top: 1px solid  #202020;
}
#page3 #container .cont1 .cont1-right{
    display: flex;
    justify-content: space-around;
    
}

#page3 #container .cont1 .cont1-right .h2{
    font-size: 4vw;
    color: #171717;
    opacity: 0.9;
    margin-top: 4%;
    margin-left: -10%;
    transition: .6s ease;
}

#page3 #container .cont1 .cont1-right .h6{
   font-size: 1.4vw;
   width: 750px;
   margin-top: 6%;
   color: #171717;
   opacity: 0.9;   margin-left: 14%;
   transition: .6s ease;
}

#page3 #container .cont1  .cont-left .btn{
 display: flex;
 justify-content: space-around;
padding: 2px 40px;
height: 25%;
display: none;
border-radius: 20px;
position: relative;
margin-top: 18%;
margin-left: -150%;
font-size: 1.5vw;
width: 260px;
border: transparent;
transition: .6s ease;
background-color: #202020;
overflow: hidden;
color: white;
}

#page3 #container .cont1  .cont-left .btn .ri-arrow-right-up-line{
    color: white;
    font-size: 1.5vw;
}
#page3 #container .cont1  .cont-left .btn .greenslide{
    background-color: #1EEB8F;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #1EEB8F;
    transition: height 0.6s ease;
    z-index: -1;
     
}
#page3 #container .cont1  .cont-left .btn :hover .greenslide{
   
    height: 30%;
    z-index: 11;
    
   
}
#page3 #container  .cont1   .cont-left{
  
    display: flex;
    justify-content: space-around;
}
#page3 #container .cont1 .cont-left .image{
    height: 250%; /* Increase the height as desired */
   margin-top: -45%;
   margin-left: 15%;
    /* transform: translateY(-50%); */
    display: none;
    z-index: 1;
    transition: .6s ease;
    border-radius: 20px;
    
}

#page4{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #edfdb8;
    overflow: hidden;
    text-transform: uppercase;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: absolute;
}

.card-image{
    width: 25vw;
    height: 65vh;
    border-radius: 20px;
    /* background-color: red; */
    background-size: cover;
    background-position: center;
}

.c1 .card-image {
    background-image: url(https://images.unsplash.com/photo-1535223289827-42f1e9919769?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80);
}

.c2 .card-image {
background-image: url(https://images.unsplash.com/photo-1583755391669-5d4e2d1cf3d9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2592&q=80);
}

.c3 .card-image {
    background-image: url(https://images.unsplash.com/photo-1513366976578-e01c21fb9c76?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2787&q=80);
}

.card p{
    font-size:1vw;
    color: #4df395;
    font-weight: 600;
}

.c1{
    top: 50%;
    left: 3%;
    transform: translate(0,-50%);

}

.c2{
    left: 34%;
    top: 92%;
}

.c3{
    left: 3%;
    top: 150%;
}

.slider{
    width: 93%;
    height: 100vh;
    background-color: #00EB8F;
    position: absolute;
    /* top: -3%; */
    border-left: 2px solid #EDFDB8;
}

.slider h1{
    position: absolute;
    left: 3%;
    top: 70%;
    font-size: 4.5vw;
    line-height: 1;
    text-shadow: 0px 0px 25px #edfdb8a4;
    color: #EDFDB8;
}

.slider .HomeSecond__RightFirstPanelNotch{
    width: 8%;
    position: absolute;
    left: -8%;
    top: 0;
    stroke: #EDFDB8;
    stroke-width: 2px;
    position: relative;
}

.slider::after{
    content: "";
    width: 4px;
    height: 29vh;
    position: absolute;
    left: -0.2%;
    top: 0;
    background-color: #00EB8F;
}

.s1{
    /* background-color: red; */
    left: 62%;
}

.s2{
    left: 130%;
    z-index: 99;
}

.s3{
    left: 130%;
    z-index: 999;
}

.slider h2{
    color: #EDFDB8;
    font-size: 4.5vw;
    position: absolute;
    top: 87%;
    left: 71%;
    text-shadow: 0 0 25px #edfdb8a4;
}

.btns{
    position: absolute;
    left: 3%;
    top: 50%;
    display: flex;
    align-items: center;
    gap: 50px;
}

.btns button{
    padding: 50px 70px;
    font-size: .7vw;
    background-color: transparent;
    border: 1px solid #EDFDB8;
    color: #EDFDB8;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    z-index: 99;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .1s;
    font-size: 1.3vmax;
}

.btns button::after{
    content: "";
    position: absolute;
    width: 18vw;
    height: 18vw;
    background-color: #EDFDB8;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    scale: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    transform-origin: 0 0;
    z-index: -1;
}

.btns button:hover{
    color: #00EB8F;
}

.btns button:hover::after{
    scale: 2;
}


#lastpage{
    height: 100vh;
    width: 100vw;
    font-family: poppins;
    color: rgb(45, 45, 45);
    background-image: linear-gradient(to bottom, #1EEB8F, white); 
     color: #171717;

}

#lastpage #top{
    display: flex;
    height: 72%;
    width: 100%;
    /* background-color: rgb(255, 255, 255); */
}

#lastpage #top #left
{
    position: relative;
    top: 10%;
    left: 5%;
    font-size: 30px;
    padding: 30px 30px;
    height: 400px;
    width: 300px;
   
}

#lastpage #top #centre{
    position: relative;
    top: 10%;
    left: 20%;
    font-size: 20px;
    padding: 30px 30px;
    height: 400px;
    width: 300px;
   
}

#lastpage #top #left h6{
    font-weight: 400;
}

#lastpage #top #centre h5{
    font-weight: 400;
}

#lastpage #top #right{
    padding: 20px 20px;
    position: relative;
    top: 10%;
    left: 25%;
    font-size: 25px;
    height: 400px;
    width: 400px;

}

#lastpage #top #right h2{
    font-size: 30px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
}

#lastpage #top #right a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 20px;
    color: rgb(96, 96, 96);
}

#lastpage #top #right h4{
    padding-top: 40px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(40, 40, 40);
}

#lastpage #top #centre h5{
 padding-bottom: 20px;
}


#lastpage #btm{
    display: flex;
    justify-content: space-between;
    height: 28%;
    width: 100%;

}

#lastpage #btm #left{
    position: relative;
    left: 6%;
    top: 20%;
    height: 100px;
    width: 200px;
    font-size: 20px;
    
}


#lastpage #btm #mid{
    position: relative;
    left: 0%;
    top: 20%;
    height: 100px;
    width: 250px;
    font-size: 20px;
   
    font-weight: 300;
}

#lastpage #btm #right{
    position: relative;
    top: 20%;
    left: -8%;
    padding-right: 20px;
    height: 100px;
    width: 270px;
    font-size: 20px;
    font-weight: 300;
}

#lastpage #btm #right i{
    padding-right: 1px;
    font-size: 30px;
}
   

#lastpage #btm #left h5{
 font-weight: 300;
}




#nav {
    width: 100%;
    position: fixed;
    z-index: 999;
    font-family: poppins;

}

#nav-inner {
    padding: 20px 20px;
    font-family: inter;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo svg {
    width: 148px;
}

#nleft {
    display: flex;
    align-items: center;
    gap: 5px;
}

#nleft>a {
    color: black;
    text-decoration: none;
    background-color: #a9f868;
    padding: 19px 24px;
    border-radius: 10px;
    font-size: .95vw;
    position: relative;
    overflow: hidden;
    z-index: 99;
}

#nleft>a::after {
    content: "";
    width: 0%;
    height: 100%;
    background-color: #C6FF97;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .6s;
}

#nleft>a:hover::after {
    width: 100%;
}

#links {
    display: flex;
    gap: 7px;
    background-color: black;
    padding: 13px 25px;
    border-radius: 10px;
}

#links a {
    color: #fff;
    text-decoration: none;
    padding: 7px 17px;
    border-radius: 7px;
    font-size: .9vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .6s;
}

#links a:hover {
    background-color: #373737;
}

#nav-inner {
    color: #a9f868;
    font-family: poppins;
    font-weight: 900;
    font-size: 1.4vmax;
}


